.env
backend/temp_downloads
backend/__pycache__
backend/venv
backend/*.json
backend/.env
frontend/package-lock.json
__pycache__/
*.log   
*.md
*.sh
*.zip
@node_modules/
.DS_Store
.vscode/
.claude
.github